@import url("https://fonts.googleapis.com/css?family=Calibri");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Calibri";
}
#container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "sidebar main";
  width: 100vw;
  height: 100vh;
}
#main {
  grid-area: main;
}
#new-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em;
  margin-left: 0px;
  border-top: 1px solid lightgrey;
}

#new-message input {
  font-size: 1em;
  border: none;
  width: 100%;
  height: 1em;
}

#new-message input:focus {
  outline: none;
}

#messages-list {
  padding: 1em 0 0 1em;
}
#sidebar {
  grid-area: sidebar;
  padding: 1em;
  border-right: 1.5px solid lightgrey;
  height: 100%;
}

#sidebar ul {
  list-style-type: none;
}
